                .nav__link {
                    color: #2cccff;
                    font-size: 18px;
                    text-decoration: none;
                }
                
                .breadcrumb-item {
                    font-size: 18px;
                    color: #ccc;
                    font-weight: 500;
                }
                
                .boder-end {
                    border-right: 1px solid #ccc;
                }
                
                .gallery__image-feature {
                    width: 400px;
                    height: 400px;
                }
                
                .infor {
                    padding: 20px;
                }
                
                .icon i {
                    font-size: 18px;
                    padding: 0 2px;
                }
                
                .fa-star {
                    color: gold;
                }
                
                .icon a {
                    margin: 0 5px 0 5px;
                    text-decoration: none;
                    font-size: 18px;
                    color: #ccc;
                }
                
                .icon span {
                    margin-right: 5px;
                    font-size: 18px;
                    color: #ccc;
                }
                
                .price {
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                }
                
                .price p {
                    margin-top: 8px;
                    padding: 0 5px;
                }
                
                .price__discount {
                    text-decoration: line-through;
                }
                
                .text-size {
                    font-size: 16px;
                }
                
                .trademark {
                    margin-top: 10px;
                }
                
                .trademark a {
                    text-decoration: none;
                    color: #1A9CB7;
                }
                
                .shell {
                    font-size: 18px;
                }
                
                .trademark p {
                    margin-top: 5px;
                }
                
                .bg {
                    background-color: #fafafa
                }
                
                .promotion__icon {
                    display: flex;
                }
                
                .promotion__icon span {
                    margin-left: 10px;
                    font-weight: bold;
                }
                
                .promotion__icon img {
                    width: 20px;
                    height: 20px;
                }
                
                .promotion {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                
                .buyxgety_item .ratio {
                    width: 45px;
                    margin: 4px 0;
                }
                
                .img {
                    object-fit: contain;
                    max-width: 100%;
                }
                
                .col {
                    font-size: 12px;
                }
                
                .col-auto input {
                    margin-right: 10px;
                    background-color: #1A9CB7;
                }
                
                .text-primary {
                    color: tomato;
                    font-size: 12px;
                }
                
                .title {
                    margin-top: 10px;
                }
                
                .button_box button {
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    text-align: center;
                    padding: 10px 10px;
                    background-color: #fff;
                    font-size: 14px;
                }
                
                .button-2 {
                    margin-left: 10px;
                }
                
                .button_box button:hover {
                    border: 1px solid tomato;
                }
                
                .amount {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                }
                
                .amount button {
                    border: none;
                    padding: 8px 8px;
                    margin: 0 10px 0 0;
                }
                
                .button_amount {
                    width: 50px;
                }
                
                .amount p {
                    margin-bottom: 0;
                }
                
                .button_buy {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 60px;
                    ;
                }
                
                .button_buy button {
                    border: none;
                    width: 240px;
                    height: 40px;
                    margin: 0 20px 0 20px;
                    transition: all 0.3s linear;
                    border-radius: 10px;
                }
                
                .button_add {
                    font-size: 1.6rem;
                    background-color: gold;
                    color: white;
                }
                
                .button_buy-now {
                    font-size: 1.6rem;
                    background-color: red;
                    color: white;
                }
                
                .button_add:hover {
                    color: gold;
                    background-color: white;
                    border: 1px solid gold;
                }
                
                .button_buy-now:hover {
                    color: red;
                    background-color: white;
                    border: 1px solid red;
                }
                
                .service {
                    padding: 20px 15px;
                }
                
                .service img {
                    width: 22px;
                    height: 22px;
                }
                
                .select_location {
                    margin-top: 10px;
                    color: #828282;
                    font-size: 12px;
                }
                
                .location {
                    display: flex;
                    margin-top: 10px;
                }
                
                .change_location a {
                    display: right;
                }
                
                .location_img {
                    display: flex;
                    margin-right: 40px;
                }
                
                .link-color {
                    color: #1A9CB7;
                }
                
                .col p {
                    margin-bottom: 0;
                }
                
                .d-block {
                    display: block !important;
                    font-size: 15px;
                    color: #828282;
                }
                
                .product-item a {
                    color: #828282;
                    cursor: pointer;
                }
                
                .insurance,
                .delivery {
                    padding: 0 15px;
                }
                
                .delivery,
                .service,
                .insurance,
                .mt-6 {
                    margin-top: 20px;
                }
                
                .product-recommend__remove {
                    z-index: 10;
                    width: 22px;
                    cursor: pointer;
                }
                
                .recommend-item i {
                    font-size: 20px;
                }
                
                .product-gift-icon {
                    z-index: 9;
                    top: 5px;
                    left: 5px;
                }
                
                .product-gift-icon img {
                    object-fit: contain;
                    max-width: 100%;
                }
                
                .product-item small {
                    background: tomato;
                    font-size: 14px;
                    color: #fff;
                }
                
                .product-item h3 {
                    font-size: 18px;
                    color: #999;
                }
                
                .icon-start i {
                    font-size: 16px;
                }
                
                .card-body li {
                    padding: 5px 0;
                }
                
                .letter_infor {
                    font-size: 25px;
                }
                
                .toc-list {
                    margin: 10px 20px;
                }
                
                .toc-list-item {
                    padding: 10px 0;
                }
                
                .toc__content {
                    border: 1px solid red;
                    padding: 10px 10px;
                }
                
                .toc-list-item a {
                    color: #1A9CB7;
                }
                
                .toc~.content h2 {
                    color: #d70018;
                    font-weight: 500
                }
                
                .product-item h3 {
                    padding: 0 5px;
                }
                /* Reponsive detail */
                
                @media screen and (max-width:740px) {
                    .trademark img {
                        width: 100%;
                    }
                    .type {
                        display: none;
                    }
                    .shell {
                        color: #1A9CB7;
                        font-size: 14px;
                    }
                    .infor h1 {
                        font-size: 1.4rem;
                    }
                    .icon {
                        font-size: 1.1rem;
                    }
                    .icon a {
                        font-size: 1.1rem;
                        border-right: 1px solid var(--border-color);
                    }
                    .icon span {
                        font-size: 1.1rem;
                    }
                    .price h1 {
                        font-size: 1.2rem;
                    }
                    .promotion__icon span {
                        margin-left: 10px;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                    .title {
                        font-size: 14px;
                    }
                    .button_box button {
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        text-align: center;
                        padding: 8px 8px;
                        font-size: 14px;
                        background-color: #fff;
                        cursor: pointer;
                    }
                    .amount {
                        display: none;
                    }
                    .button_buy {
                        display: none;
                    }
                    .product_img {
                        width: 100%;
                        object-fit: contain;
                    }
                    .describe {
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                    .related_products {
                        font-size: 18px;
                        margin-bottom: 20px;
                    }
                    .detail_infor {
                        font-size: 18px !important;
                        margin-bottom: 20px;
                    }
                    .content .text_infor {
                        font-size: 19px;
                    }
                    .letter_infor {
                        font-size: 22px;
                    }
                    .img_infor {
                        width: 100%;
                    }
                    .text-start {
                        font-size: 14px;
                    }
                    .product-item small {
                        background: tomato;
                        font-size: 12px;
                        color: #fff;
                    }
                    .product-item span {
                        font-size: 14px;
                        color: red;
                    }
                }