.thongbao {
    animation: 3s 1s 1 forwards notifyOut;
}

@keyframes notifyOut {
    from {
        opacity: 1;
        visibility: visible;
    }
    to {
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;
    }
}

.image-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 20px;
}
.image-item {
    border: 1px solid #eee;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.image-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
